[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "_vim/bundle/tmuxline.vim"]
	path = _vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
